@{
    ViewData["Title"] = "Контакти";
}

<section id="contacts">
	<div class="container">
		<div class="section-title">
			<h2>Контакти</h2>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<h3>Адреса: вулиця Короленка, 1, Дніпро, Дніпровська область, 23017</h3>
				<h3>Телефон: 066 386 0913</h3>
				<h3>Email: carshop@car.com</h3>
			</div>
			<div class="col-lg-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2648.25405829335!2d35.04275275064174!3d48.41326663979717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbfca391caba99%3A0x8442775d9c3df73b!2z0J7QntCeICLQndCY0JrQniDQlNCd0JXQn9CgIg!5e0!3m2!1sru!2sua!4v1656298975433!5m2!1sru!2sua" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>
	</div>
</section>