@{
    ViewData["Title"] = "Політика конфіденційності";
}
	<div class="container">
		<div class="section-title">
			<h2>Політика конфіденційності</h2>
		</div>

		<a>Шановний Клієнте!</a> 
		<a>Товариство з обмеженою відповідальністю «CarShop», офіційний дистриб’ютор та імпортер автомобілів, запасних частин та аксесуарів різних брендів автомобілів в Україні, поважає право кожної людини на конфіденційність її персональних даних та особистої інформації, на невтручання в її особисте життя у зв’язку з обробкою персональних даних, і відповідально ставиться до обробки та захисту будь-якої персональної інформації, наданої Клієнтом.</a> <br />
		<a>
			Під терміном «Клієнт» ми розуміємо всіх наявних та потенційних клієнтів; онлайн-відвідувачів та користувачів нашого веб-сайту; відвідувачів офіційних сторінок ММСУ у соціальних мережах; осіб, які звернулися на нашу інформаційну лінію або надіслали нам електронного чи паперового листа; осіб, які направили через наш веб-сайт своє резюме для цілей працевлаштування.
		</a> <br />

		<a>
			Просимо ознайомитися з нашою Політикою конфіденційності та обробки персональних даних Клієнтів (надалі — Політика конфіденційності), у якій ми пояснюємо основні принципи, умови та порядок обробки персональних даних Клієнтів, а також права Клієнтів як суб’єктів персональних даних.
		</a> <br />

		<a>
			Терміни, що вживаються нижче, мають значення, наведені у Законі України «Про захист персональних даних» та інших чинних нормативно-правових актах України.
		</a> <br />

		<a>
			1. Політика обробки персональних даних наших Клієнтів базується на таких основних принципах:
		</a><br />
		<a>
			повага до кожної людини та дотримання її основоположних прав і свобод, у тому числі—прав як суб’єкта персональних даних;

		</a><br />
		<a>
			обробка персональних даних за умови отримання добровільної згоди від Клієнта—суб’єкта персональних даних;

		</a><br />
		<a>
			відкритість і прозорість під час обробки персональних даних;

		</a><br />
		<a>
			захист конфіденційної інформації та персональних даних від незаконної обробки, несанкціонованого доступу, втрати та розголошення.
		</a>
<br /> <br />
<a>
			2. Обробка персональних даних передбачає такі дії або сукупність дій: збирання, накопичення, зберігання, адаптування, зміна, поновлення, використання та поширення (розповсюдження, реалізація, передача), знеособлення, знищення персональних даних, та здійснюється як із застосуванням автоматизованих засобів, так із застосуванням неавтоматизованих засобів, у документальній (паперовій), електронній формі та/або у формі картотек.
		</a> <br /> <br />
		<a>
			3. Персональні дані обробляються у строк не більше, ніж це необхідно відповідно до мети їхньої обробки або для дотримання встановлених законодавством вимог, або до моменту (і) відкликання Клієнтом наданої згоди на обробку персональних даних, (іі) пред’явлення вмотивованої вимоги Клієнта із запереченням проти обробки персональних даних, (ііі) пред’явлення вмотивованої вимоги Клієнта щодо знищення своїх персональних даних.
		</a> <br /> <br />
		<a>
			Дата останнього оновлення: 22 червня 2022 року.
		</a> <br /> <br />
		<a>
			Компанія залишає за собою право на власний розсуд у будь-який час вносити зміни та/або доповнення до цієї Політики конфіденційності (у разі такої необхідності).
		</a>
		<br />
	</div>